<style>

.button_delete {
    background-color: #555555; /* black */
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button_delete:hover {
  background-color: white;
  color: black;
}

body {
  "background-color: lightgrey;"
}

h1 {
  font-size: 400%;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #8533ff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

.login{
  border: red;

  border-radius: 8px;

}

</style>
